@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #c4b4b4;
    --branco: #815d5d;
    --laranja: #c77997ee;
    --azul-degrade: linear-gradient(97.54deg, #2f303b 35.49%, #183244c9 165.37%);
    --fonte-principal: "Poppins";
    --azul: #000000;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}